<html>
<head>
    <script src="/static/js/jquery-3.5.0.js"></script>
</head>
<body>

<h1>Hello! User List!</h1>

<table>
    <tr>
        <td>username</td>
        <td>identify_lable</td>
        <td>telephone</td>
        <td>gender</td>
        <td>address</td>
        <td>操作</td>
    </tr>
    {% for user in users %}
        <td>{{ user.username }}</td>
        <td>{{ user.identify_lable }}</td>
        <td>{{ user.telephone }}</td>
        <td>{{ user.gender}}</td>
        <td>{{ user.address}}</td>
        <td><a href="{{url_for('user_page.change_password', id=user.id)}}">修改密码</a></td>
        <tr>
    {% endfor %}
</table>
</body>
</html>