<meta charset="utf-8">
<html lang="en">
<head>
    <script src="../../static/js/jquery-2.1.0.min.js"></script>
</head>
<body>
这是管理员修改用户信息界面
<table>
    <tr>
        <td>username</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
    </tr>
    {% endfor %}


</table>
 <form action="{{ url_for('') }}" method="post">
        <table>
            输入此用户的新信息
            <tr><td>password：</td><td><input id="password" type="password" name="password"  value="{{ user.username }}"/></td>
            <tr><td>identify_label:</td><td><input id="identify_label" type="text" name="identify_label" /></td></tr>
            <tr><td>telephone：</td><td><input id="telephone" type="text" name="telephone" /></td>
            <tr><td>gender：</td><td><input id="male" type="radio" name="gender"  value="male"/>男
                                      <input id="femal" type="radio" name="gender"  value="female"/>女</td></tr>
            <tr><td>address：</td><td><input id="address" type="text" name="address" /></td>
            <tr><td>&nbsp;</td><td><input id="submit" type="submit" name="submit" value="ADD" /></td></tr>
        </table>
    </form>


</body>
</html>