{% extends "base_p.html" %}
{% block left_panel %}
      <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="menu-title">Extras</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>个人信息</a>
                        <ul class="sub-menu children dropdown-menu">

                            <!--<li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">增加用户</a></li>-->
                            <!--<li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">？？？</a></li>-->
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
{% endblock left_panel %}




{% block content %}
 <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">用户信息</strong>
                            </div>
                            <div class="card-body">
                                <form text-align="center" action="{{ url_for('manager_page.manager_jump') }}">

                                    <table id="bootstrap-data-table" text-align="center" class="table table-striped table-bordered">


                                            <tr>
                                                <th >用户名</th>
                                                <td> {{ users.username }}</td>

                                            </tr>
                                        <tr>
                                                <th>身份</th>
                                                <td>{{users.identify_lable}}</td>

                                            </tr>
                                         <tr>
                                                <th>电话</th>
                                                <td>{{users.telephone}}</td>
                                            </tr>
                                         <tr>
                                                <th>性别</th>
                                                <td>{{users.gender}}</td>
                                            </tr>
                                        <tr>
                                                <th>地址</th>
                                                <td>{{users.address}}</td>
                                            </tr>
                                          <tr>
                                                <th></th>
                                             <td> <a href="javascript:history.go(-1);">返回主页面</a> </td>
                                                <!--<td><input id="update" type="submit" name="update" value="返回主页面"  class="btn btn-primary btn-flat m-b-30 m-t-30"/></td>-->
                                            </tr>




                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->{% endblock content %}

